@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
$font-family: 'Comfortaa', cursive;

.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f2f7f5;
}
